button{
   background-color: #090446;
   border: 2px solid #FDCE38;
   box-shadow: 0 0 25px #FDCE38, inset 0 0 25px #FDCE38;
   color: #052F5F;
   font-size: 1.5em;
   height: 45px;
   margin: 15px;
   padding: 0;
   text-decoration: underline;
   text-shadow: 0 0 5px #FDCE38;
   transition: 1s;
   -webkit-text-stroke-color: #FDCE38;
   -webkit-text-stroke-width: 0.5px;
   width: 240px;
} 

button:hover {
   box-shadow: 0 0 55px #FDCE38, inset 0 0 65px #FDCE38;;
   color: #FDCE38;
   /* text-decoration: underline; */
}

button a{
   color: #052F5F;
   -webkit-text-stroke-color: #FDCE38;
   -webkit-text-stroke-width: 0.5px;
}

button a:hover {
   color: #FDCE38;
   text-decoration: underline;
}

main{
   font-size: 2em;
}

h1{
   font-size: 3.5em;
   margin: 0;
   text-align: center;
   -webkit-text-stroke-color: #FDCE38;
   -webkit-text-stroke-width: 1px;
}

li {
  float: left;
  list-style-type: disc;
}

ul {
   list-style-type: disc;
   margin: 0;
   overflow: hidden;
}

/* ============================================================== */

#infoHeader{
   display: inline-flex;
}

#infoHome{
   margin: 20px;
   position: absolute;
   right: 0;
}

/* ============================================================== */

.App {
   text-align: center;
}   

.App-header {
   background-color: #052F5F;
   height: 200px;
   padding: 0px;
   text-align: center;
}

.App-intro {
   color: #B8B8D1;
   font-size: large;
   margin: 0;
}

.App-logo {
   animation: App-logo-spin infinite 30s linear;
   height: 110px;
}
 
.App-title {
   color: #FDCE38;
   font-size: 200px;
   margin: 0;
   padding: 0;
   text-shadow: 0 0 50px #FDCE38;
   -webkit-text-stroke-color: #090446;
   -webkit-text-stroke-width: 2.5px;
}

.bodyDiv{
    background-color: #090446;
    height: 1000px;
    text-align: center;
}
 
.buttonsForSpreading{
   display: flex;
   justify-content: space-evenly;

}

.cardDiv{
   animation: fadein 1.25s;
   border:5px solid #FDCE38;
   box-shadow: 0 0 25px #FDCE38, inset 0 0 25px #FDCE38;

   height: auto;
   margin-top: 24px;
   margin-left: 12.5%;
   position: absolute;
   width: 75%;
}

.h2ToCenter{
   text-align: center;
   border: 5px solid #FDCE38;
   width: 300px;
}

.indexNumber {
    font-size: 30em;
    margin-bottom: -100px;
    margin-top: -100px;
    text-shadow: 0 0 35px #FDCE38; 
}

.infoDiv{
   animation: fadein 1.25s;
   border: 5px solid #FDCE38;
   box-shadow: 0 0 25px #FDCE38, inset 0 0 25px #FDCE38;
   color: #FDCE38;
   list-style-type: disc;
   margin-left: 10%;
   margin-top: 12px;
   padding-left: 20px;
   padding-right: 20px;
   position: relative;
   width: 75%;
}

 /* ============================================================ */

@keyframes App-logo-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
}
 
@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}
